<h1>Create a New Building</h1>

<%= simple_form_for @building do |f| %>
  <%= f.input :name, label: 'Name' %>
  <%= f.input :street_address, label: 'Street Address' %>
  <%= f.input :city, label: 'City' %>
  <%= f.input :state, collection: @state, label: 'State' %>
  <%= f.input :postal_code, label: 'Postal Code' %>
  <%= f.input :description, label: 'Description', required: false %>
  <%= f.button :submit, 'Create New Building' %>
<% end %>
